.container{
      /* min-height: 300px; */
      height: 26%;
      position: relative;
      left: 9%;
      margin-right: 88px;
      margin-top: 5%;
      width: 16%;
  border: 2px solid black;
  background-color: #d8d837;
  float: left;
    .date{
      text-align: center;
      margin-top: 38%;
      font-size: 28px;
    }
}
.serial{
  padding-bottom: 18px;
  text-align: center;

}
 .img{
  height: 69px;
  width: 72px;
  -webkit-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
  bottom: -1px;
  right: -31px;
  position: absolute;
 }

 .img1{
  height: 50px;
  width: 65px;
  -webkit-transform: scale(0.6, 0.6);
  transform: scale(0.6, 0.6);
  bottom: 7px;
  right: -54px;
  position: absolute;
 }

.tasks{
  position: relative;
  /* left: 38px; */
  padding-bottom: 18px;
  word-break: break-word;
  width: 59%;
  text-align: center;
}
.status{
  position: relative;
  left: 4%;
  text-align: center;
  padding-bottom: 18px;

}

.delete{
  position: relative;
  /* display: none; */
  float: right;
  right: 12px;
  color: #b3a5a5;
  text-shadow: 0.3px 0.3px 0.3px #bd9393;
    cursor: pointer;}

.info{
  position: relative;
  top: 100px;
  left: 37%;
}

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    top: 80px;
    left: 4%;

  }
  
  .example-margin {
    margin: 0 10px;
    color:black;
  }

  #openDialog{
      float:right;
      position: relative;
      right: 40px;
      bottom: 80px;
      background-color: #cccc1a;
      color: white;
      font-size: 16px;
  }

  .startOff{
    text-align: center;
    cursor: pointer;
    margin-top: -16px;
  }

  .formButtons{
    margin-top: 46px;
    float: left;
    margin-left: 15px;
    position: relative;
    right: 13px;
    background-color: red;
    color: white;
    font-size: 20px;
}


@media only screen and (max-width: 600px) {

  .container{
    min-height: 600px;
    height: auto;
    position: relative;
    margin-top: 3%;
    margin-left: 21%;
    width: 60%;
    border: 2px solid black;
    background-color: #d8d837;

    .date{
        float:right;
        margin-right:2%; 
    }
}

.info{
  position: relative;
  top: 100px;
  left: 37%;
}

}