.container{
  min-height: 300px;
  height: 38%;
  position: relative;
  left: 9%;
  margin-right: 88px;
  margin-top: 5%;
  width: 24%;
  border: 2px solid black;
  background-color: #d8d837;
  float: left;
    .date{
        float:right;
        margin-right:2%; 
    }
}

.delete{
  position: relative;
  /* display: none; */
  float: right;
  right: 12px;
  color: #b3a5a5;
  text-shadow: 0.3px 0.3px 0.3px #bd9393;
    cursor: pointer;}

.info{
  position: relative;
  top: 100px;
  left: 37%;
}

  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    top: 80px;
    left: 4%;

  }
  
  .example-margin {
    margin: 0 10px;
    color:black;
  }

  #openDialog{
      float:right;
      position: relative;
      right: 40px;
      bottom: 80px;
      background-color: #cccc1a;
      color: white;
      font-size: 16px;
  }

  .startOff{
    text-align: center;
    cursor: pointer;
    margin-top: -16px;
  }

  .formButtons{
    margin-top: 46px;
    float: left;
    margin-left: 15px;
    position: relative;
    right: 13px;
    background-color: red;
    color: white;
    font-size: 20px;
}


@media only screen and (max-width: 600px) {

  .container{
    min-height: 600px;
    height: auto;
    position: relative;
    margin-top: 3%;
    margin-left: 21%;
    width: 60%;
    border: 2px solid black;
    background-color: #d8d837;

    .date{
        float:right;
        margin-right:2%; 
    }
}

.info{
  position: relative;
  top: 100px;
  left: 37%;
}

}